@media screen and (max-width:476px) {
    .nav-container,
    .banner-container,
    .banner-play-container,
    .nav-items-container ul{
        flex-direction: column;
        margin-bottom: 30px;
    }
  .banner-container{
    margin-left: 50px;
    margin-right: 30px;
    
    
    
   
  }
  .banner-text h3{
    font-size: 20px;
    
    
  }
  .banner-title{
    font-size:42px;
  }
  .text-container{
    width: 50%;
    margin: auto;
}

.btn-banner1{
    margin-bottom: 30px;
}

.banner-img{
    margin: 20px 10px 10px 10px;
   
}
    

 .card-title {
  font-size: 25px;
  padding-left: 10px;
}

.funny{
  font-size: 25px;
  padding-right: 10px;
}

.card-description{
  font-size: 14px;
}  

.card-container{
    

  grid-template-columns:1fr;
  
 
 
}


.img-1{
   
  width: 250px;
  height: 300px;
  position: relative;

}
.img-tow-container{
  margin: 50px 10px ;

}

.banner-content {
  text-align: center;
  padding-top: 10px;
  text-align: justify;
  
}

.img-2 {
  border: 2px solid rgb(179, 179, 182);
  width: 150px;
  height: 200px;
  border-radius: 8px;
  position: absolute;
  right: -50px;
  bottom: -50px;

}
}



@media screen and (min-width:476px) and (max-width:992){
    
    .nav-container,
    .banner-container,
    .nav-items-container ul{
        flex-direction: column;
        margin-bottom: 30px;
    }
   

    .card-container{
    
    
      width: 80%;
      margin: 0px auto;
      display: grid;
      margin: 50px auto 0px;
      grid-template-columns:repeat(2,1fr);
      gap: 10px;
     
     
    }

}